@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* animations */


/* second guy */


.secondGuyMoves{
  -webkit-animation: secondGuyMoves 1s ease-in-out forwards;
          animation: secondGuyMoves 1s ease-in-out forwards;
}

@-webkit-keyframes secondGuyMoves {
  100% {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
}

@keyframes secondGuyMoves {
  100% {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
}


.secondGuyMovesBack{
  -webkit-animation: secondGuyMovesBack 1s ease-in-out forwards;
          animation: secondGuyMovesBack 1s ease-in-out forwards;
}

@-webkit-keyframes secondGuyMovesBack {
  0%{
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes secondGuyMovesBack {
  0%{
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.secondGuySecondMove{
  -webkit-animation: secondGuySecondMove 1s ease-in-out forwards;
          animation: secondGuySecondMove 1s ease-in-out forwards;
}

@-webkit-keyframes secondGuySecondMove{
  0%{
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  100% {
    -webkit-transform: rotate(-90deg) translateY(-4px);
            transform: rotate(-90deg) translateY(-4px);
  }
}

@keyframes secondGuySecondMove{
  0%{
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  100% {
    -webkit-transform: rotate(-90deg) translateY(-4px);
            transform: rotate(-90deg) translateY(-4px);
  }
}

.secondGuySecondMoveBack{
  -webkit-animation: secondGuySecondMoveBack 1s ease-in-out forwards;
          animation: secondGuySecondMoveBack 1s ease-in-out forwards;
}

@-webkit-keyframes secondGuySecondMoveBack{
  0% {
    -webkit-transform: rotate(-90deg) translateY(-4px);
            transform: rotate(-90deg) translateY(-4px);
  }

  100%{
    -webkit-transform: rotate(-60deg) translateY(0);
            transform: rotate(-60deg) translateY(0);
  }
}

@keyframes secondGuySecondMoveBack{
  0% {
    -webkit-transform: rotate(-90deg) translateY(-4px);
            transform: rotate(-90deg) translateY(-4px);
  }

  100%{
    -webkit-transform: rotate(-60deg) translateY(0);
            transform: rotate(-60deg) translateY(0);
  }
}



/* third guy */

.thirdGuyComes{
  -webkit-animation: thirdGuyComes 1s ease-in-out forwards;
          animation: thirdGuyComes 1s ease-in-out forwards;
}

@-webkit-keyframes thirdGuyComes {
 
  50%{
    opacity:0
  }
  60%{
    opacity:1;
  }
  100%{
    -webkit-transform: translate(-125px, 74px);
            transform: translate(-125px, 74px);
    opacity: 1;
  }
}

@keyframes thirdGuyComes {
 
  50%{
    opacity:0
  }
  60%{
    opacity:1;
  }
  100%{
    -webkit-transform: translate(-125px, 74px);
            transform: translate(-125px, 74px);
    opacity: 1;
  }
}

.thirdGuyMoves{
  -webkit-animation: thirdGuyMoves 1s ease-in-out forwards;
          animation: thirdGuyMoves 1s ease-in-out forwards;
}

@-webkit-keyframes thirdGuyMoves {
 
  0%{
    -webkit-transform: translate(-125px, 74px);
            transform: translate(-125px, 74px);
    opacity: 1;
  }
  100%{
    -webkit-transform: translate(-130px, 70px) rotate(-55deg);
            transform: translate(-130px, 70px) rotate(-55deg);
    opacity: 1;
  }
}

@keyframes thirdGuyMoves {
 
  0%{
    -webkit-transform: translate(-125px, 74px);
            transform: translate(-125px, 74px);
    opacity: 1;
  }
  100%{
    -webkit-transform: translate(-130px, 70px) rotate(-55deg);
            transform: translate(-130px, 70px) rotate(-55deg);
    opacity: 1;
  }
}

.thirdGuyMovesBack{
  -webkit-animation: thirdGuyMovesBack 1s ease-in-out forwards;
          animation: thirdGuyMovesBack 1s ease-in-out forwards;
}

@-webkit-keyframes thirdGuyMovesBack {
 
  0%{
    -webkit-transform: translate(-130px, 70px) rotate(-55deg);
            transform: translate(-130px, 70px) rotate(-55deg);
    opacity: 1;
  }
  100%{
    -webkit-transform: translate(-125px, 74px) rotate(0);
            transform: translate(-125px, 74px) rotate(0);
    opacity: 1;
  }
}

@keyframes thirdGuyMovesBack {
 
  0%{
    -webkit-transform: translate(-130px, 70px) rotate(-55deg);
            transform: translate(-130px, 70px) rotate(-55deg);
    opacity: 1;
  }
  100%{
    -webkit-transform: translate(-125px, 74px) rotate(0);
            transform: translate(-125px, 74px) rotate(0);
    opacity: 1;
  }
}


.thirdGuyLeaves{
  -webkit-animation: thirdGuyLeaves 1s ease-in-out forwards;
          animation: thirdGuyLeaves 1s ease-in-out forwards;
}

@-webkit-keyframes thirdGuyLeaves {
  0%{
    -webkit-transform: translate( -125px, 74px);
            transform: translate( -125px, 74px);
    opacity: 1;
  }
  40%{
    opacity:1
  }
  50%{
    opacity:0
  }
  100%{
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes thirdGuyLeaves {
  0%{
    -webkit-transform: translate( -125px, 74px);
            transform: translate( -125px, 74px);
    opacity: 1;
  }
  40%{
    opacity:1
  }
  50%{
    opacity:0
  }
  100%{
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}



/* fourth guy */

.fourthGuyComes{
  -webkit-animation: fourthGuyComes 1s ease-in-out forwards;
          animation: fourthGuyComes 1s ease-in-out forwards;
}

@-webkit-keyframes fourthGuyComes {
  0%{
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  40%{
    opacity:1 ;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fourthGuyComes {
  0%{
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  40%{
    opacity:1 ;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.fourthGuyLeaves{
  -webkit-animation: fourthGuyLeaves 1s ease-in-out forwards;
          animation: fourthGuyLeaves 1s ease-in-out forwards;
}

@-webkit-keyframes fourthGuyLeaves {
  0%{
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  60%{
    opacity:1 ;
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
}

@keyframes fourthGuyLeaves {
  0%{
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  60%{
    opacity:1 ;
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
}
